<div class="section">
    <div class="container">
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        EDITAR REGISTRO TIPO DE PRODUCTO 
                    </h1>
                    <h1>{{data.type}}</h1>
                </div>
            </div>
        </section>
        <form action="/petto/types_pro/update/{{data.id}}" method="POST">
            <div class="field">
                <label class="label">Tipo</label>
                <div class="control">
                    <input class="input" name="type" type="text" value="{{data.type}}">
                </div>
            </div>

            <div class="field">
                <label class="label">Descripción</label>
                <div class="control">
                    <input class="input" name="description" type="text"  value="{{data.description}}">
                </div>
            </div>

            <div class="field">
                <label class="label">Estado</label>
                <div class="control">
                    <input class="input" name="is_active" type="text" value="{{data.is_active}}">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Guardar</button>
                </div>
                <div class="control">
                    <a href="/petto/types_pro/" class="button is-link is-light">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>