<div class="section">
    <div class="container">
            <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        CLIENTE
                    </h1>
                    <h2>{{dato.name}}</h2>
                </div>
            </div>
        </section>
        <form action="/client/" method="POST">
            <div class="field">
                <label class="label">DPI</label>
                <div class="control">
                    <input class="input" name="dpi" type="text" placeholder="" value="{{dato.dpi}}">
                </div>
            </div>

            <div class="field">
                <label class="label">Nombre</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-success" type="text" placeholder="Nombre" name="name" value="{{dato.name}}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Apellidos</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" placeholder="Apellidos" name="lastname" value="{{dato.lastname}}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Telefono</label>
                <div class="control">
                    <input class="input" name="phone" type="tel" placeholder="" value="{{dato.phone}}">
                </div>
            </div>

            <div class="field">
                <label class="label">Direccion</label>
                <div class="control">
                    <input class="input" name="address" type="text" placeholder="" value="{{dato.address}}">
                </div>
            </div>

            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" name="email" type="email" placeholder="" value="{{dato.email}}">
                </div>
            </div>

            <div class="field">
                <label class="label">Estado</label>
                <div class="control">
                    <input class="input" name="is_active" type="text" placeholder="" value="{{dato.is_active}}">
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <a class="button is-link is-light" href="/petto/client/">Regresar</a>
                </div>
            </div>
        </form>
    </div>
</div>