<div class="section">
    <div class="container">
        <div class="hero is-link">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title is-1">Registro Venta</h1>
                </div>
            </div>
        </div>
        <br>
        <form action="" class="form" method="post">
            {{ csrf }}
            <div class="field">
                <label class="label">Fecha Venta</label>
                <div class="control">
                    <input class="input is-static is-large" name="" type="" id="date_sale">
                </div>
            </div>

            <div class="field">
                <label class="label" for="user_id">Vendedor</label>
                <div class="control">
                    <input type="text" class="input" name="user_id" id="user_id" value="">
                </div>
            </div>

            <div class="field">
                <label class="label" for="client_id">Cliente</label>
                <div class="select">
                    <select name="client_id" id="client_id">
                        {{#each data/data.[0]/client }}
                        <option value="{{id}}">{{ name }} {{ lastname }}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="field">
                <label class="label" for="product_id">Producto</label>
                <div class="select">
                    <select name="product_id" id="product_id">
                        {{#each data/data }}
                        <option value="{{id}}_{{stock}}_{{price}}">{{ name }}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="field">
                <label class="label" for="stock">Stock</label>
                <input class="input" name="stock" id="stock" type="number" value="" readonly>
            </div>

            <div class="field">
                <label class="label" for="price">Precio Venta</label>
                <input class="input" type="number" name="price" id="price" readonly>
            </div>


            <div class="field">
                <label class="label" for="quantity">Cantidad</label>
                <input class="input" name="quantity" id="quantity" type="number">
            </div>

            <div class="field">
                <div class="control">
                    <!-- <button id="add">Agregar</button> -->
                    <a id="add"><input class="button is-dark is-outlined" type="button" value="Agregar"></a>
                </div>
            </div>
            <hr>
            <br>
            <div>
                <table id="detalles" class="table is-fullwidth">
                    <thead style="background-color: #A9D0F5">
                        <th></th>
                        <th>Productos</th>
                        <th>Cantidad</th>
                        <th>Precio Venta</th>
                        <th>SubTotal</th>
                    </thead>
                    <tfoot>
                        <th>TOTAL</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                            <h4 id="total">Q/. 0.00</h4><input type="hidden" name="total_sale" id="total_sale">
                        </th>
                    </tfoot>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div id="guardar">
                <div>
                    <input name="_token" value="" type="hidden"></input>
                    <button class="button is-success" onclick="guardar()">Guardar</button>
                    <a href="/petto/sale" class="button is-warning" name="cancel">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    window.onload = function () {
        var fecha = new Date();
        var y = fecha.getFullYear();
        var m = fecha.getMonth() + 1;
        var d = fecha.getDate();
        if (d < 10)
            d = '0' + d;
        if (m < 10)
            m = '0' + m;

        document.getElementById("date_sale").value = d + "/" + m + "/" + y;
    }
</script>

<script>
    $(document).ready(function () {
        $('#add').click(function () {
            agregar();
            console.log("agregar");
        })
        mostrarValores();
    });

    var detail = [];
    var user = document.getElementById('user_id');
    var client = document.getElementById('client_id');
    var cont = 0;
    total = 0;
    subtotal = [];
    $('#guardar').hide();
    $('#product_id').change(mostrarValores);


    function mostrarValores() {
        datosArticulo = document.getElementById('product_id').value.split('_');
        $("#stock").val(datosArticulo[1]);
        $("#price").val(datosArticulo[2]);
        console.log(datosArticulo);
    }


    function guardar() {
        var sale = [{
            total_sale: total,
            user_id: user,
            client_id: client,
        },
            detail,
        ];

        fetch('http://localhost:3000/sales', {
            method: 'POST',
            headers: { 'content-type': 'application/json' },
            body: JSON.stringify(sale)
        })
            .then(res => res.json())
            .then(datos => {
                res.redirect('/petto/sale')
            })
            .catch(err => {
                console.log(err);
            });
    }

    function agregar() {

        datosArticulo = document.getElementById('product_id').value.split('_');
        console.log(detail.length);
        var detalle = {
            idproducto: datosArticulo[0],
            producto: $('#product_id option:selected').text(),
            cantidad: $('#quantity').val(),
            precio_venta: $('#price').val(),
            stock: $('#stock').val(),
            subtotal: $('#quantity').val() * $('#price').val(),
        };
        detail.push(detalle);
        console.log(detail);

        if ($('#detalles tbody').length >= 1) {
            $("#fila ").remove();
        }
        for (let i = 0; i < detail.length; i++) {
            console.log(detail.length);
            console.log(detail[i].producto);
            console.log(this.detail[i].subtotal);

            var fila = '<tr class="selected" id="fila' + cont + '">' +
                '<td><button class="button" onclick="eliminar(' + cont + ');">x</button></td>' +
                '<td><input type="text" name="" value="' + detail[i].idproducto + '">' + this.detail[i].producto + '</td>' +
                '<td><input type="number" name="" value="' + this.detail[i].cantidad + '"></td>' +
                '<td><input type="number" name="" value="' + this.detail[i].precio_venta + '" readonly></td>' +
                '<td>' + this.detail[i].subtotal + '</td></tr>';

            cont++;


            $('#total').html('Q/. ' + total);
            $('#total_sale').val(total);
            limpiar();

            $('#detalles').append(fila);
            evaluar();

        }
    }


    function limpiar() {
        $('#quantity').val('');
        $('#stock').val('');
        $('#price').val('');
    }

    function evaluar() {
        if (total > 0) {
            $("#guardar").show();
        } else {
            $("#guardar").hide();
        }
    }

    function eliminar(index) {
        total = total - subtotal[index];
        $('#total').html("Q/. " + total);
        $('#total_sale').val(total);
        $('#fila' + index).remove();
        evaluar();
    }
</script>