<div class="section">
    <div class="container">
        <div class="hero is-link">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title is-2">Venta</h1>
                </div>
            </div>
        </div>
        <br>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field-label is-normal">
                    <label class="label">Fecha Venta</label>
                </div>
                <div class="field">
                    <p class="control">
                        <input class="input" type="text" value="{{data.[0].sale_date}}">
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field-label is-normal">
                    <label class="label">Cliente</label>
                </div>
                <div class="field">
                    <p class="control is-expanded has-icons-left">
                        <input class="input" type="text" value="{{data.[0].cliente}} {{data.[0].lastname}}">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </p>
                </div>
                <div class="field-label is-normal">
                    <label class="label">Vendedor</label>
                </div>
                <div class="field">
                    <p class="control is-expanded has-icons-left has-icons-right">
                        <input class="input" type="text" value="{{data.[0].usuario}}">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <br>
        <div class="section">
            <div class="container">
                <table id="detalles" class="table is-fullwidth">
                    <thead style="background-color: #A9D0F5">
                        <th>Productos</th>
                        <th>Cantidad</th>
                        <th>Precio venta</th>
                        <th>Subtotal</th>
                    </thead>
                    <tfoot>
                        <th>TOTAL</th>
                        <th></th>
                        <th></th>
                        <th>
                            <h4 id="total">{{data.[0].total_sale}}</h4>
                        </th>
                    </tfoot>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td>{{ producto }}</td>
                            <td>{{ quantity }}</td>
                            <td>{{ price }}</td>
                            <td>{{ subtotal }}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <a class="button is-link is-light" href="/petto/sale/">Regresar</a>
            </div>
        </div>
    </div>
</div>